#map {
  margin: 50px auto;
  border-radius: 15px;
}

.mapContent {
  display: flex;
}

.mapContent > div {
  background-color: #fff;
  box-shadow: 1px 1px 8px #c7c7c7;
  width: 30%;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 100px;
}

.mapContent .svg-inline--fa {
  font-size: 50px;
  margin-bottom: 25px;
  color: #d44122;
}

.contacMenuBar .contactMenu > h2 {
  border-bottom: 2px solid #d44122 !important;
}

@media all and (max-width: 1279px) {
  .mapContent > div > p {
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }
}

@media all and (max-width: 1023px) {
  #map {
    width: 80% !important;
  }
  .mapContent > div {
    padding: 30px 10px;
  }
  .mapContent > div > p {
    font-size: 14px;
    line-height: 18px;
  }
}

@media all and (max-width: 767px) {
}

@media all and (max-width: 480px) {
  .mapContent {
    flex-direction: column;
    margin-bottom: 50px !important;
  }
  .mapContent > div {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 0;
  }
  .mapContent .svg-inline--fa {
    font-size: 40px;
    margin-bottom: 15px;
  }
}
