.installCaseDetailMenu > h2 {
  border-bottom: 2px solid #e74f2d;
}

.detailTitle {
  width: 70%;
  margin: 80px auto;
}

.detailTitle > h2 {
  font-size: 26px;
  margin: 40px auto 20px;
}

.detailTitle > p {
  font-size: 16px;
  color: #757575;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e74f2d;
}

.detailContent {
  width: 100% !important;
  margin: 0 auto 60px !important;
  padding-bottom: 30px;
  border-bottom: 1px solid #d2d2d2;
}

.detailContent > div {
  width: 100%;
}

.detailContent > div > p img {
  width: 100%;
}

.detailPagenation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailPagenation > div {
  display: flex;
  justify-content: center;
  margin: 0;
  width: auto;
  cursor: pointer;
}

.detailPagenation .svg-inline--fa {
  font-size: 14px;
  margin: 0 10px;
}

.detailPagenation p {
  font-size: 16px;
}

.detailPagenation img {
  filter: drop-shadow(1px 1px 8px #c7c7c7);
  margin: 0 35px;
  width: 50px;
}

.detailBtn {
  margin-top: 60px !important;
}

.detailBtn > button {
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 5px;
}

.detailBtn > button:hover {
  background-color: #e74f2d;
  color: #fff;
}

@media all and (max-width: 480px) {
  .detailTitle {
    width: 90% !important;
  }
  .detailTitle > h2 {
    font-size: 22px !important;
  }
  .detailTitle > p {
    font-size: 14px !important;
  }
  .detailPagenation img {
    width: 45px !important;
  }
  .detailPagenation p {
    font-size: 14px !important;
  }
}
