.installCaseDetailMenu > h2 {
  border-bottom: 2px solid #e74f2d;
}

.detailTitle {
  width: 70%;
  margin: 80px auto;
}

.detailTitle > h2 {
  font-size: 26px;
  margin: 40px auto 20px;
}

.detailTitle > p {
  font-size: 16px;
  color: #757575;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e74f2d;
}

.detailContent {
  width: 100% !important;
  margin: 0 auto 60px !important;
  padding-bottom: 30px;
  border-bottom: 1px solid #d2d2d2;
}

.detailPagenation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailPagenation > div {
  display: flex;
  justify-content: center;
  margin: 0;
  width: auto;
  cursor: pointer;
}

.detailPagenation .svg-inline--fa {
  font-size: 14px;
  margin: 0 10px;
}

.detailPagenation p {
  font-size: 16px;
}

.detailPagenation img {
  filter: drop-shadow(1px 1px 8px #c7c7c7);
  margin: 0 35px;
  width: 50px;
}
