.newsBar .newsMenu > h2 {
  border-bottom: 2px solid #e74f2d;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto !important;
}

.search-bar input {
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
}

.search-bar input::placeholder {
  color: #ccc;
}

.search-icon {
  margin-left: -30px;
  color: #e74f2d;
  cursor: pointer;
}

.newsContent .newsList,
.newsLine {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  width: 65vw;
}

.newsItem {
  cursor: pointer;
}

.newsLine {
  background-color: #eeeeee;
  border-bottom: none !important;
  border-radius: 5px;
}

.newsLine .newsTitle {
  text-align: center !important;
}

.newsContent .newsList .indexNum {
  width: 5%;
}

.newsContent .newsList .newsTitle {
  width: 80%;
  text-align: left;
  margin-left: 10px;
}

.newsContent .newsList .newsDate {
  width: 15%;
}

.pagenation {
  display: flex;
  justify-content: center;
  margin: 50px auto 100px !important;
}

.pagenation > .svg-inline--fa {
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
}

.pagenation > p {
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
}

@media all and (max-width: 1023px) {
  .newsContent .newsList,
  .newsLine {
    width: 100%;
  }
  .newsContent .newsList .newsDate {
    width: 20%;
  }
}

@media all and (max-width: 768px) {
  .newsContent .newsList .indexNum {
    display: none;
  }
  .newsContent .newsList .newsDate {
    width: 32%;
  }
}

@media all and (max-width: 480px) {
  .newsContent {
    width: 90% !important;
  }
  .newsContent .newsList,
  .newsLine {
    padding: 15px 10px;
  }
  .newsContent .newsList .newsTitle {
    margin-left: 0;
  }
}
