.menuBar .installCaseMenu h2 {
  border-bottom: 2px solid #e74f2d;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30% !important;
  margin: 60px auto !important;
}

.search-bar input {
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
}

.search-bar input::placeholder {
  color: #ccc;
}

.search-icon {
  margin-left: -30px;
  color: #e74f2d;
  cursor: pointer;
}

.caseList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.caseItem {
  width: 22vw !important;
}

.caseItem > div {
  text-align: left;
  margin-bottom: 0px !important;
  cursor: pointer;
  width: 22vw !important;
  margin-bottom: 20px !important;
}

.caseItem img {
  width: 22vw !important;
  height: 13vw;
  border-radius: 20px;
}

.caseItem h2 {
  font-size: 18px;
  margin: 15px 0 8px 0;
}

.caseItem p {
  font-size: 14px;
  color: #666;
}

.pagenation {
  display: flex;
  justify-content: center;
  margin: 50px auto 100px !important;
}

.pagenation > .svg-inline--fa {
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
}

.pagenation > p {
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
}

.pagenation p.active {
  color: #e74f2d;
  font-weight: bold;
}

@media all and (max-width: 1023px) {
  .caseList {
    grid-template-columns: repeat(2, 1fr);
  }
  .caseItem {
    width: 30vw !important;
  }
  .caseItem > div {
    width: 30vw !important;
  }
  .caseItem img {
    width: 30vw !important;
    height: 17vw;
  }
}

@media all and (max-width: 768px) {
  .search-bar {
    width: 50% !important;
  }
  .caseList {
    grid-template-columns: repeat(1, 1fr);
  }
  .caseItem {
    width: 70vw !important;
  }
  .caseItem > div {
    width: 70vw !important;
    text-align: center;
  }
  .caseItem img {
    width: 70vw !important;
    height: 38vw;
  }
}
